.core {
    background-color: white;
    display: flex;
}

#information {
    width: 60%;
    font-size: 12px;
    background-color: rgb(188, 188, 188);
}

#information h2 {
    margin-top: 30px;
    width: 80%;
    margin-left: 40px;
    margin-right: 50px;
    color: black;
    float: right;
    text-align: right;
}

#information img {
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

#quiz {
    width: 420px;
}

#glossaryItem h2 {
    margin-left: 35%;
}

#glossaryItem:hover {
    cursor:default;
}



/*
    Questions CSS
*/

.Question {
    background-color: rgb(188, 188, 188);
    color: black;
    height: 100%;
}

#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 15px;
    cursor: default;
    margin-top: 0px;
    padding-top: 20px;
}

h4 {
    font-size: 10px;
    margin: 10px;
    border: solid 2px rgb(201, 100, 100);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 300px;
}

h4:hover {
    color: rgb(0, 191, 255);
    cursor: default;
}

