.App {
  text-align: center;
}
header {
  background-color: rgb(188, 188, 188);
  display: flex;
  color: white;
  font-size: 12px;
}

#nav_menu {
  display: flex;
  margin-left: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.navbar {
  display: flex;
  width: 150px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.navbar:hover {
  background-color: rgb(201, 100, 100);
}

#pink {
  display: flex;
  background-color: rgb(201, 100, 100);
  width: 20%;
  align-items: center;
  justify-content: center;
}

#outer {
  display: flex;
  border-radius: 5px;
}

.column {
  border-radius: 5px;
}

#description {
  width: 100%;
}

#glossary {
  width: 20%;
}

